.SG{

    background-image: url("https://e0.pxfuel.com/wallpapers/562/818/desktop-wallpaper-tree-night-lonely-silhouette-stars-moon-fog-ipad-air-thumbnail.jpg"); 
    background-size: cover;
    height: 700px;
    width: 500px;
   
    
    
      
   }
   .Shikha{
       text-align: center;
       color: white;
   }
   .Gupta{
       background-color: yellowgreen;
       font-size: 30px;
       border-radius: 12px;
       border-width: 6px;
   }
   
   
   .SG{
       text-align: center;
   }
   .Meethi{
       color: aliceblue;
       text-align: left;
   }
   .MG{
       padding-left: 20px;
       padding-bottom: 10px;
       padding-right: 20px;
   }